/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* width and height of the scrollbar thumb */

::-webkit-scrollbar {
    background:  #2b2a2a;
    border-radius: 20px;
    width: 10px;
    padding-right: 1rem;
}
::-webkit-scrollbar-corner{
    background:  #2b2a2a;
   
}::-webkit-scrollbar-button:hover{
    background: #8bdca5;
   
}
::-webkit-scrollbar-button{
    background:  #3d3d3d;
    border-radius: 50%;
    color: #000;
}


::-webkit-scrollbar-thumb {
    background: var(--bckground)linear-gradient(to left,var(--shadow),var(--btn),var(--border),var(--btn),var(--shadow));
    border-radius: 5px;
    width: 5px;
}
::-webkit-scrollbar-horizontal-thumb {
    background: var(--bckground)linear-gradient(to top,var(--shadow),var(--btn),var(--border),var(--btn),var(--shadow));
}
::-webkit-scrollbar-start,
::-webkit-scrollbar-end{
    content: hello;
    padding:10px;
    background:red;
}
/* background of the scrollbar track */
::-webkit-scrollbar-track {
    background: #2b2a2a;
    width: 5px;
    border-radius: 20px;
}

/* color of the scrollbar track on hover */

::-webkit-scrollbar-track:hover {
    background: #636363;
}

/* color of the scrollbar thumb on hover */

::-webkit-scrollbar-thumb:hover {
    background: #2b2a2a;
}

/* :horizontal
:vertical
:decrement
:increment
:start
:end 
:double-button
:single-button
:no-button
:corner-present
:window-inactive */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
