:root {
    --id: '';

}

body {
    --border: #95959592;
    --bckground: #706c6c;
    --shadow: #444444;
    --btn: #64646496;
    --offside: 1rem;
    --offset: calc(var(--offside)*2);
    --wth: calc(100vw -var(var(--offset)));

    background: var(--rad);
    min-height: 100vh;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    transition: scroll 1s ease-in-out;

    --Linear: linear-gradient(to left, var(--shadow), var(--btn), var(--border), var(--btn), var(--shadow));

    --rad: radial-gradient(#ccc, var(--btn), var(--shadow));
}

body * {
    margin: 5px auto;
    border-radius: 5px;
    /* border: 2px solid var(--border); */
    box-shadow: 2px 2px 5px var(--shadow);
    background: var(--Linear);
    
}

#mainWrap:after {
    position: inherit;
    content: ""+ var(--id);
    font-size: 1em;
    background: green;
    padding: 10px;

}

#mainWrap {
    display: grid;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-columns: 0.5rem 45% auto 0.5rem;
    grid-template-rows: 5rem auto auto 4rem;
    border-radius: 0px;
    overflow: hidden;
}


#header {
    position: relative;
    display: grid;
    margin: 0 auto;
    width: 98vw;
    grid-template-columns: repeat(1fr, 5);
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

#navwrap {}

.nav {
    width: 98%;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    margin: 1rem auto;
    /* display: grid;
    place-content: center; */
    border: 2px solid var(--shadow);
    box-shadow: 0 0 5px 1px var(--shadow);
    padding: 5px;
    height:2vh;
    /* z-index:-1; */
    min-height: 100%;
}

#menueCheck {
    display: none;
}

.menuecontainer {
    position: absolute;
    display: none;
    place-content: center;
     color: #cc0;
    background: var(--rad);
    border-radius: 50%;
  
    text-shadow: 1px 1px 0px #000;
    font-weight: 900;
    font-size: 2rem;
    right: 1rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 100;
}

input[type="checkbox"]:checked+label:after {
    content: ' \25A4';
    filter: drop-shadow(0 0 0px #000);
color: var(--border);
}

.menuecontainer:hover {
    filter: drop-shadow(0 0 0px var(--bckground));
    color: var(--bckground);
    transform: scale(1.1);
    text-shadow: 3px 3px 2px #000;
}

.menuecontainer:hover:active {
    filter: drop-shadow(0 0 0px rgba(0, 255, 0, 0.204));
    text-shadow: 0px 0px 1px rgba(0, 255, 0, 0.552);
    transform: scale(0.9);
    color: #000
}

.menuecontainer:after {
    content: '\2BBD';
    margin: 0 auto;

    z-index: 900;
    font-size: 80%;
    text-align: center;
    text-justify: center;
}

.menuecontainer:hover:after {
    color: greenyellow;
}

#menue {

    display: flex;
    position: relative;
    margin:0;
    /* width: 94vw; */
    flex-direction: row;
    align-items: space-evenly;
    justify-content: space-ev;
    list-style: none;
    flex-flow: wrap;
    flex-grow: 1;
    /* padding: var(--offside); */
    z-index: 800;
    transition: left 250ms ease-in;
    background: transparent;

}
#menue a {
    margin:0;
    position: relative;
    display: grig;
    place-content: center;
    padding:5px;
    border: 1px solid var(--border);
    box-shadow: 1px 1px 5px var(--shadow);
    text-align: center;
    min-width: 80px;
    /* font-size: 1.2rem; */
    scroll-snap-align: center;
    color: khaki;
     background: #0006;
}
#menue a:hover {
    background: var(--btn);
    color: yellow;
    box-shadow: 0 0 5px 2px yellow;
    transform: scale(.95);
    z-index: 900;
}
#menue a:active {
    background: var(--shadow);
    color: lime;
    box-shadow:inset 0 0 15px -2px lime;
    border: 2px solid #000;
    transform: scale(0.9);
    z-index: 900;
    border-radius: 8px;
}
.open {

    left: 0;
}

.navButton {
    display: flex;
    margin: 0;
    /* width: max-content; */
    flex-grow: 1;
    text-align: center;
    /* background: var(--btn); */
}

.main {
    position: absolute;
    padding: 1rem;
    top: 1rem;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 3.5rem;
    min-height: calc(100vh - 30vh);
    grid-row: 2;
    grid-column: 2 / span 2;
    box-shadow: inset 1px 1px 5px 2px #000, 1px 1px 15px 2px #0005;
    overflow: scroll;
    transition: all 1s ease;
    border: 5px solid transparent;
    /* scrollbar-color: var(--bckground) var(--btn); */
}

.mainhero {
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-top: var(--offset); */
    height: auto;
    border-radius: 5px;

}

.mainImage {
    display:grid;
    place-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    background: url(../assets/img/STEVE/headshot3.jpg) no-repeat center;
    background-size: cover;
    border:10px solid transparent;
    backdrop-filter: blur(10px) brightness(0.8);
    width: 100%;
    height: 80%;
    max-width: 650px;
    min-height: 650px;
}

.mainImage img {
margin:0 auto;
    width: 80%;
    height: auto;
    min-width: 200px
}
.mainImage img:active{
    display: none;
}
button {
    background: var(--bckground)linear-gradient(to top, var(--shadow), var(--btn), var(--border), var(--btn), var(--shadow));
}

.button {
    position: relative;
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 100%;
    background: var(--shadow);
    font-size: 2em;
    border: 1px solid yellow;
    text-align: center;
}

.button:hover:active {

    filter: drop-shadow(0 0 1px var(--shadow))drop-shadow(-2px -2px 1pxvar(--bckground))drop-shadow(2px 2px 1px var(--bckground));
    box-shadow: 0px 0px 1px 0px
}



.body {
    margin: 5px;
    height: 70svh;
    padding: var(--offset);
    scroll-snap-align: center;
    width: calc(var(--wth)-var(--offset));
    min-height: calc(100svh - 40vh);
}

:first-of-type("section") {
    z-index: -1;
}

.header {
    border: 0;
}

.header h1 {
    border: 0;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;

}
#fourresult h1{font-size: 2rem}
#fourresult h2{font-size: 24px;padding: 0.5em;}
#fourresult h3{font-size: 18px}
#fourresult h4{font-size: 24px;padding: 1em;}
#fourresult h5{font-size: 0.8rem}
dialog::backdrop {
   background-color: var(--border);
}
#fourresult{
   max-height: 68vh;
   overflow-y: auto;
   margin-bottom: 5rem;
   color: bisque;
}

#fourresult :hover{
  color: greenyellow;
}
.one {}

.two {}

.three {}

#codingresult,
#creativeresult,
#constructionresult {
    scroll-snap-type: x mandatory;
    /* min-height: 100%; */
    min-height: 90%;
    overflow-x: scroll;
}

#constructionresult img {
    max-height: 100%;
}

.cp-embed-wrapper p {
    margin: 0;
}

.cp-embed-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    transform: scale(0.8);

}

/* .codepen{

} */
/* cp_embed_wrapper */
#construction,
#creative,
#coding {
    overflow: hidden;

}

.cp_embed_wrapper iframe {

    box-sizing: border-box;
    align-self: center;
    justify-content: center;
    border: 2px solid;
    margin: 0em 0;
    height: 100vh;
    max-height: 400px;
    padding: 0em;

}
.embedwrap,
.gallery {
    margin: 2rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    height: 400px;
    max-height: 80%;
}

figure {
    display: inline-block;

}

.embed,
.gallery figure {
    /* width: 80%; */
    max-width: 70%;
    min-width: 300px;
    margin: 0em 0;
    padding: 0em;
    scroll-snap-align: center;
}

.gallery figure img {
    width: 100%;
    height:60px;
    min-height: 100%;
}
.gallery figure img:hover {
    filter: drop-shadow(0 0 5px var(--shadow));
    transform: scale(1.05);
    box-shadow: 0 0 5px 2px yellow;
    z-index: 900;
}
.gallery figure img:active {
    filter: drop-shadow(0 0 5px lime);
    transform: scale(0.9);
    box-shadow: inset 0 0 15px -2px lime;
    border: 2px solid #000;
    z-index: 900;

}
figcaption {
    color: khaki;
    text-align: center;
    text-justify: center;
    font-size: large;
    font-weight: 600;
    padding: 0.5em;

}
.enlarge{
    position: absolute;
    /* padding:1em; */
    z-index: 1000;
    inset: 10px;
    left: 0;
    width: 80%;
    height: 70vh;
    max-height:fit-content;
    /* transform: scale(0.9); */
}
.five {}

.mainImage {}

.img {}

.header {}

.body {}

.footer {
    position: relative;
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
    border-radius: 5px;
    border: 2px solid var(--border);
    background: var(--background);
    box-shadow: 2px 2px 2px var(--shadow);
}

.inside {}

.contact {}

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {

    .mainWrap,
    .main {
        padding: 0;
        margin: 0;
        left: 0px;
        right: 0px;
    }

    .body {
        padding: 2px;
        margin-top: 5rem;
        border: 1px solid var(--border);
    }

    #header {
        margin: 0;
        padding: 0;
        left: 0 ;
        right: 0;

    }

    #header ul {
        flex-direction: column;
        width: 50%;
        height: 50svh;
        text-decoration: none;

    }
   
    .navButton {
        width: 100%;
        padding: 0px;
        background: var(--border);
    }

    #navwrap {
        position: absolute;
        /* overflow: hidden; */
      
        left: 0;
        top: -1em;
        height: 80px;
    }

    .menue {
        position: absolute;
        left: -20rem;
    }

    .open {
        left: 0rem;
    }

    .cp_embed_wrapper {
        transform: scale(0.8);
    }

    .menuecontainer {

        display: grid;
    }

    .menuecontainer::after {
        position: relative;
        display: block;

    }

    .hamburger {
        position: relative;
    }


    /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
}
